.family {
    background-color: var(--color-dark-alternate);

    &__header {
        padding-top: 132px;
        padding-bottom: 62px;
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        align-items: center;
        text-align: center;

        @media (max-width:767px){
            padding-top: 80px;
            padding-bottom: 50px;
        }
    }

    &__body {
        display: flex;
        justify-content: center;
        column-gap: 26px;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;

        @media (max-width:767px){
            column-gap: 12px;
        }
    }

    &__image {
        scroll-snap-align: start;
        height: 479px;

        @media (max-width:1024px){
            height: 360px;
    }
        @media (max-width:767px){
        height: 180px;
    }
    }
    
}
