@import '../../styles/button';



.button {
    display: inline-flex;
    align-items: center;
    height: 38px;
    padding-inline: 26px;
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: var(--border-radius);
    border: none;
    white-space: nowrap;
}

.button:hover {
    background-color: var(--color-light-gray);
}


@media (max-width:767px) {
    .button {
        padding-inline: 18px;
    }
}